# An example of a TradeCopy service config. TradeCopy acts as a proxy to replicate 
# to non TPM databases such as TradeDataMart. This acts upon the 5 main TPM events 
# which are trade events, group events, group member events, tpm tag events, 
# and enum events which form the event domains. It transferes these events into 
# descrete store procedure calls.


# parsing rules for this config 

# this is a comment line 
    # this is also a comment line
    
#[trade.add] this is a domain event discriptor of which there are actions add upd and del. 
# the mappings under the domain event discriptor will be offloading store proc mappings 
# to the target database for this config.

# TradeCopy service will not send a domain item without the required fields.

# The store proc field mappings definition  
#
# +-- Presence operator + required - optional
# |
# |+----  User defined delimiter character ( for this version always a comma )
# ||
# ||   +-----  TPM Name field as defined in tags 
# ||   |
# ||   |         +---  TPM value format        
# ||   |         |
# ||   |         |             +-- Stored procedure name
# ||   |         |             |
# ||   |         |             |           +-- Stored procedure parameter name
# ||   |         |             |           |
# ||   |         |             |           |          +-- Output format
# ||   |         |             |           |          |    
# +,core.price,  %f,    insert_trade,  @core_price, %19.6f, this is a comment field


# small example of the trade domain actions.
[trade.add]

# this is a trade add using insert_trade store proc based on a trade event
+,core.id,           %s, insert_trade, @core_id,           %19.6f
+,core.version,      %d, insert_trade, @core_version,      %d
+,core.instrumentid, %d, insert_trade, @core_instrumentid, %d
+,core.price,        %f, insert_trade, @core_price,        %19.6f
+,core.quantity,     %f, insert_trade, @core_quantity,     %19.2f

# this is a broker table add based on a trade event.
+,core.id,            %s, insert_broker, @core_id,             %s     
+,brokerage.broker,   %s, insert_broker, @brokerage.broker,    %s
+,brokerage.amount,   %f, insert_broker, @brokerage.amount,    %19.2f
+,brokerage.currency, $s, insert_broker, @brokerage.currency,  %s
+,brokerage.notes,    %s, insert_broker, @brokerage.notes,     %s

[trade.upd]

# for trade table 
+,core.id,           %s, upate_trade, @core_id,           %19.6f
+,core.version,      %d, upate_trade, @core_version,      %d
-,core.instrumentid, %d, upate_trade, @core_instrumentid, %d
-,core.price,        %f, upate_trade, @core_price,        %19.6f
-,core.quantity,     %f, upate_trade, @core_quantity,     %19.2f

# for broker table
+,core.id,            %s, update_broker, @core_id,            %s    
-,brokerage.broker,   %s, update_broker, @brokerage.broker,   %s
-,brokerage.amount,   %f, update_broker, @brokerage.amount,   %19.2f
-,brokerage.currency, $s, update_broker, @brokerage.currency, %s
-,brokerage.notes,    %s, update_broker, @brokerage.notes,    %s


[trade.del]

# trade table
+,core.id,       %s, delete_trade, @core_id,      %19.6f
+,core.version,  %d, delete_trade, @core_version, %d

# broker table
+,core.id,       %s, delete_broker, @core_id,    %s    



# the other event domains.
[group.add]
[group.upd]
[group.del]

[member.add]
[member.upd]
[member.del]

[tag.add]
[tag.upd]  # does not event
[tag.del]  # does not event

[enum.add]
[enum.upd] # does not event 
[enum.del] # does not event


